.header__main
    .header__logo.logo
        img(src="static/images/general/logo.svg" alt="Logotip").Logo__img
.header__phones
    .header__item
        a(href="tel:84951203034).header__phone 8(495) 120 3034
        a(href="").header__link заказать бесплатный
.header__address.header-address
    +icon('location','header-address__icon')
    span.header-addres__text Москва, прт Андропова, 11 к. , павильон №1/2
.header__goods
    .header-goods
        span.header-goods__price 0 &#8381; или &#x20bd;
        span.header-goods__count 0 товаров
    .header-basket
        +icon('','header-basket__icon')
        span.header-basket__text Корзина