.product-line-slider{
    &__navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__btn{
        @include size(40px);
        align-items: center;
        display: flex;
        border: 1px solid $alto;
        justify-content: space-between;
    }
    &__icon{
        @include size(15px);
        fill: $blaze-orange;
    }
}