.product-prev{
    outline: none;
    margin: 10px 15px 30px;
    padding: 20px;
    position: relative;
    padding-top: 190px;
    transition: all linear .3s;
    &:hover{
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),0 2px 5px 0 rgba(0, 0, 0, 0.5);
    }
    &__header{
        left: 20px;
        height: 160px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    &__img{
        max-width: 100%;
        max-height: 160px;
        display: block;
        margin: 0 auto;
        &-wrapper{
            outline: none;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__body{
        position: relative;
        padding-top: 90px;
        margin-bottom: 20px;
    }
    &__title{
        font-weight: 600;
        line-height: 1.43;
        // padding-top: 10px;
    }
    &__price{
        align-items: baseline;
        display: flex;
        margin-bottom: 20px;
        & > * {
            margin-right: 10px;
            &:last-child{ margin-right: 0; }
        }
        &-current{
            color: $blaze-orange;
            font-size: 20px;
            font-weight: 600;
        }
        &-old{
            color: $tundora;
            font-size: 13px;
            text-decoration: line-through;
        }
    }
    &__colors {
        @include size(20px);
        display: block;
        border-radius: 2px;
        outline: none;
        .slick-dots{
            display: flex;
            li{
                border: 1px solid transparent;
                border-radius: 2px;
                padding: 2px;
                outline: none;
                &.slick-active{
                    border: 1px solid $tundora;
                    a{
                        outline: none;
                        &:focus,
						&:hover{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    &__color{
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 2px;
        outline: none;
    }
    
    &__footer{
        .btn{
            cursor: pointer;
        }
    }
}







