.product-prev{
    padding: 20px;
    position: relative;
    padding-top: 190px;
    &__header{
        left: 20px;
        height: 160px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    &__img{
        max-width: 100%;
    }
    &__info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__body{
        position: relative;
        padding-top: 90px;
    }
    &__title{
        font-weight: 600;
        line-height: 1.43;
    }
    &__price{
        align-items: baseline;
        display: flex;
        & > * {
            margin-right: 10px;
            &:last-child{ margin-right: 0; }
        }
        &-current{
            color: $blaze-orange;
            font-size: 20px;
            font-weight: 600;
        }
        &-old{
            color: $tundora;
            font-size: 13px;
            text-decoration: line-through;
        }
    }
}