@import "prev";
@import "line-slider";
@import "border-line-slider";

.products-prev__wrapper{
    display: flex;
    flex-wrap: wrap;
    &.product-prev__wrapper{
        &--small{
            & > * {
                min-width: 30%;
                max-width: calc(34% - 30px);
                @media screen and (max-width: $phone-size){
                    flex: 0 0 100%;
                    margin-right: 0;
                    max-width: 100%;
                }
                &:nth-child(4n+4){
                    margin-right: 30px;
                    @media screen and (max-width: $phone-size){
                        margin-right: 0px;
                    }
                }
                &:nth-child(3n+3){
                    margin-right: 0;
                    @media screen and (max-width: $tablet-size){
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
}