.products-line-slider
    .js-products-line-slider
        include ../../../modules/products/prev-1
        include ../../../modules/products/prev-2
        include ../../../modules/products/prev-1
        include ../../../modules/products/prev-2
    .products-line-slidernavigation
        .products-line-slider__btn.products-line-slider__btn--prev
            +icon('chevron-left','products-line-slider__icon')
        .products-line-slider__dots
        .products-line-slider__btn.products-line-slider__btn--next
            +icon('chevron-right','products-line-slider__icon')