ul
    li
        a(href="index.html") Главная
    li
        a(href="brands.html") Все бренды
    li
        a(href="brands.html") Бренд
    li
        a(href="search.html") Результаты поиска
    li
        a(href="static-page.html") Внутрення страница
    li
        a(href="category.html") Категории