section.s-advantages
    .container
        .advantages
            .advantage
                +icon('guarantee','advantage__icon')
                .advantage__body
                    span.advantage__title Гарантия
                    span.advantage__descr Качества всех товаров
            .advantage
                +icon('shopping-bag','advantage__icon')
                .advantage__body
                    span.advantage__title Доставка
                    span.advantage__descr по Москве и области
            .advantage
                +icon('pay','advantage__icon')
                .advantage__body
                    span.advantage__title Оплата
                    span.advantage__descr онлайн и наличными