section.s-hits
    .container
        h2.title-section Хиты продаж
        .hits.tabs
            ul.tabs-navigation.hits-navigation
                li.hits-navigation__item.tabs-navigation__item.tabs-navigation__item--active Хиты продаж
                li.hits-navigation__item.tabs-navigation__item Выгодно
                li.hits-navigation__item.tabs-navigation__item Новинки
            .tabs__body
                .tab.tab--active
                    p 1
                .tab
                    p 2
                .tab
                    p 3