// Colors
$white: #ffffff;
$black: #000000;

$mine_shaft: #262626;
$dusty-gray: #999999;
$tundora   : #4b4b4b;
$oslo-gray: #939495;
$mid-gray   : #6e6e6f;
$wild-sand:     #f6f6f6;
$silver    : #cccccc;
$porcelain: #f6f8f9;
$alto     : #dddddd;
$silver-chalice: #a9a9a9;
$athens-gray: #eef2f4;


$blaze-orange: #ff6d00;

$chelsea-cucumber : #8eb359;

$placeholder-color: #a6a6a6;



// Sizes
$base-font-size: 14px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);
// sizes
$base-font-size: 14px;
$content-size: 1139px;
$tablet-size: 1139px;

// Fonts
$main-fonts: 'Open Sans', Arial, sans-serif;