.main-nav__dropdown-wrapper
    .main-nav__dropdown
        .main-nav__col
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Взрослые самокаты
                        +icon('chevron-right','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Детские двухколесные самокаты
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Детские трехколесные самокаты
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Детские самокаты с большими колесами
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text Детские самокаты с надувными колесами
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Детские самокаты
                        +icon('chevron-right','main-subnav__icon')
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Городские Самокаты
                        +icon('chevron-right','main-subnav__icon')
        .main-nav__col