nav.header__catalog-nav.catalog-nav
    ul.catalog-nav__list
        li.catalog-nav__item
            a(href="").catalog-nav__link Самокаты
            include main-nav-dropdown-1
        li.catalog-nav__item
            a(href="").catalog-nav__link Беговелы
        li.catalog-nav__item
            a(href="").catalog-nav__link Велосипеды
        li.catalog-nav__item
            a(href="").catalog-nav__link Ролики
        li.catalog-nav__item
            a(href="").catalog-nav__link Скейты
        li.catalog-nav__item
            a(href="").catalog-nav__link Батуты
        li.catalog-nav__item
            a(href="").catalog-nav__link Аксессуары и запчасти
        li.catalog-nav__item
            a(href="").catalog-nav__link Еще