.brands{
    padding-top: 30px;
    border-top: 1px solid $alto;
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > * {
            flex: 0 0 16%;
            margin-bottom: 45px;
            width: 16%;
            @media screen and (max-width: $tablet-size) {
                flex: 0 0 25%;
                width: 25%;
            }
            @media screen and (max-width: $phone-size) {
                flex: 0 0 50%;
                width: 50%;
            }
        }
        &-small{
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: $tablet-size) {
                flex-wrap: wrap;
                overflow: auto;
                margin-right: -15;
            }
            & > * {
                margin-right: 10px;
                margin-bottom: 10px;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                    @media screen and (max-width: $tablet-size) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.brand {
    align-items: center;
    color: $mine-shaft;
    display: flex;
    flex-direction: column;
    &__img{
        margin-bottom: 5px;
        height: 80px;
        width: 110px;
        transition: all linear .3s;
        &:hover{
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
        }
    }
}