.btn{
    height: 40px;
    border: 1px solid $blaze-orange;
    border-radius: 4px;
    line-height: 38px;
    color: $blaze-orange;
    cursor: pointer;
    font-weight: 600;
    background-color: $white;
    padding: 0 20px;
    display: block;
    text-align: center;
    transition: all linear .3s;
    &:hover{
        background-color: $blaze-orange;
        color: $white;
    }
    &.btn{
        &--transparent{
            &-white{
                border-color: $white;
                background-color: transparent;
                color: $white;
                &:hover{
                    background-color: $white;
                    color: $tundora;
                }
            }
            &-gray {
                border-color: rgba(38, 38, 38, 0.15);
                background-color: transparent;
                color: $oslo-gray;
                &:hover {
                    background-color: rgba(38, 38, 38, 0.15);
                    color: $white;
                }
            }
        }
        &--round{
            border-radius: 20px;
        }
        &--inline{
            display: inline-block;
            max-width: auto;
        }
        &--small {
            height: 30px;
            line-height: 28px;
            padding: 0 15px;
        }
    }

}