.btn{
    height: 40px;
    border: 1px solid $blaze-orange;
    border-radius: 2px;
    line-height: 38px;
    color: $blaze-orange;
    font-weight: 600;
    background-color: $white;
    padding: 0 20px;
    display: block;
    text-align: center;
    transition: all linear .3s;
    &.btn{
        &--transparent{
            &-white{
                border-color: $white;
                background-color: transparent;
                color: $white;
                &:hover{
                    background-color: $white;
                    color: $tundora;
                }
            }
        }
        &--round{
            border-radius: 20px;
        }
        &--inline{
            display: inline-block;
            max-width: 130px;
        }
    }

}