.content-block{
    & > * {
        margin: 20px 0;
        // &:first-child{margin-top: 0;}
        &:last-child{margin-bottom: 0;}
    }
    &__row{
        display: flex;
        @media screen and (max-width: $phone-size){
            flex-direction: column;
        }
        & > * {
            margin-right: 30px;
            @media screen and (max-width: $phone-size){
                margin-right: 0;
                margin-bottom: 20px;
            }
            &:last-child{
                margin-right: 0;
                @media screen and (max-width: $phone-size){
                    margin-bottom: 0;
                }
            }
        }
    }
    &__col{
        flex: 1;
    }
    &__img {
        max-width: 100%;
    }
    ul{
        margin: 30px 0;
        padding: 0;
        @media screen and (max-width: $phone-size){
            font-size: 12px;
        }
        &.no-dots{
            li {
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
    li {
        margin: 0;
        padding: 0;
        line-height: 1.79;
        padding-left: 35px;
        position: relative;
        &:before{
            content: '';
            @include size(4px);
            border-radius: 50%;
            background-color: $tundora;
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
}
.s-static-page{
    & + .s-advantages {
        padding-top: 0;
    }
}