.logo{
    &__img {
        height: 22px;
        @media screen and (max-width: $phone-size) {
            height: 0px;
        }
    }
}
.mobile{
    &__logo{
        display: none;
        @media screen and (max-width: $phone-size) {
            display: block;
            max-width: 40px;
        }
    }
}

.advantages{
    display: flex;
    align-items: center;
    background-color: $porcelain;
    border-radius: 4px;
    padding: 20px;
    justify-content: space-between;
    @media screen and (max-width: $tablet-size) {
        justify-content: space-between;
        padding: 20px 40px;
    }
    @media screen and (max-width: $phone-size) {
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }
}
.advantage{
    display: flex;
    align-items: center;
    margin-right: 180px;
    @media screen and (max-width: $tablet-size) {
        flex-direction: column;
        margin-right: 0;
        text-align: center;
    }
    @media screen and (max-width: $phone-size) {
        text-align: left;
        flex-direction: row;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    &:last-child{
        margin-right: 0;
        @media screen and (max-width: $phone-size) {
            margin-bottom: 0;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__icon{
        @include size(50px);
        fill: $dusty-gray;
        margin-right: 20px;
        @media screen and (max-width: $tablet-size) {
            margin-right: 0;
            margin-bottom: 10px;
        }
        @media screen and (max-width: $phone-size) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
    &__descr{
        font-size: 12px;
        color: $mid-gray;
    }
}
.s-light-bg{
    background-color: $porcelain;
}

.text{
    line-height: 1.79;
}

.about{
    display: flex;
    @media screen and (max-width: $tablet-size) {
        flex-direction: column;
    }
    & > * {
        margin-right: 30px;
        &:last-child{margin-right: 0;}
    }
    &__body{
        flex: 1;
        @media screen and (max-width: $tablet-size) {
            order: 2;
        }
        .tab{
            & > * {
                margin: 15px 0;
                &:first-child{margin-top: 0;}
                &:last-child {margin-bottom: 0;}
            }
        }
    }
    &-navigation{
        flex: 0 0 255px;
        width: 255px;
        @media screen and (max-width: $tablet-size) {
            order: 1;
            flex: 1;
            margin-bottom: 30px;
            width: 100%;
            display: flex;
        }
        @media screen and (max-width: $phone-size) {
            overflow: auto;
        }
        &__item{
            height: 50px;
            line-height: 48px;
            padding-left: 10px;
            border-bottom: 2px solid $alto;
            @media screen and (max-width: $tablet-size) {
                margin-right: 30px;
                flex: 1;
                padding-left: 0;
            }
            &:last-child{
                @media screen and (max-width: $tablet-size) {
                    margin-right: 0;
                }
            }
            &.tabs-navigation__item--active{
                border-bottom-color: $blaze-orange;

            }
        }
    }
}
.sandwich {
    padding-top: 7px;
    height: 16px;
    cursor: pointer;
    position: relative;
    width: 20px;
    &__line {
        background-color: rgba($white,.8);
        height: 2px;
        position: absolute;
        transition: all linear .3s;
        width: 100%;
        &--top{
            top: 0;
        }
        &--midline{
            top: 7px;
        }
        &--bottom{
            top: 14px;
        }
    }
}
.mobile-scroll{
    &-wrapper{
        margin: 0 -15px!important;
        overflow: auto;
    }
    &-inner{
        display: inline-block;
        padding: 0 15px;
    }
}