.logo{
    &__img {
        height: 22px;
    }
}

.advantages{
    display: flex;
    align-items: center;
    background-color: $parcelain;
    border-radius: 4px;
    padding: 20px;
    justify-content: space-between;
    @media screen and (max-width: $tablet-size) {
        justify-content: space-between;
        padding: 20px 40px;
    }
}
.advantage{
    display: flex;
    align-items: center;
    margin-right: 180px;
    @media screen and (max-width: $tablet-size) {
        flex-direction: column;
        margin-right: 0;
        text-align: center;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__icon{
        @include size(50px);
        fill: $dusty-gray;
        margin-right: 20px;
        @media screen and (max-width: $tablet-size) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__descr{
        font-size: 12px;
        color: $mid-gray;
    }
}
.s-light-bg{
    background-color: $parcelain;
}

.text{
    line-height: 1.79;
}

.about{
    display: flex;
    & > * {
        margin-right: 30px;
        &:last-child{margin-right: 0;}
    }
    &__body{
        flex: 1;
        .tab{
            & > * {
                margin: 15px 0;
                &:first-child{margin-top: 0;}
                &:last-child {margin-bottom: 0;}
            }
        }
    }
    &-navigation{
        flex: 0 0 255px;
        width: 255px;
        &__item{
            height: 50px;
            line-height: 48px;
            padding-left: 10px;
            border-bottom: 2px solid $alto;
            &:last-child {
                margin-right: 0;
            }
            &.tabs-navigation__item--active{
                border-bottom-color: $blaze-orange;

            }
        }
    }
}
.sandwich {
    padding-top: 20px;
    height: 16px;
    cursor: pointer;
    position: relative;
    width: 20px;
    &__line {
      background-color: rgba($white,.8);
      height: 2px;
      position: absolute;
      transition: all linear .3s;
      width: 100%;
      &.sandwich__line {
        &--top { bottom: 18px; }
        &--middle {
          bottom: 9px;
          opacity: 1;
        }
        &--bottom { bottom: 0; }
      }
    }
    &.is {
      &-active {
        .sandwich {
          &__line {
            &.sandwich__line {
              &--top {
                bottom: 10px;
                transform: rotate(45deg);
              }
              &--middle { opacity: 0; }
              &--bottom {
                bottom: 10px;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }