.logo{
    &__img {
        height: 22px;
    }
}

.advantages{
    display: flex;
    align-items: center;
    background-color: $parcelain;
    border-radius: 4px;
    padding: 20px;
    justify-content: space-between;
}
.advantage{
    display: flex;
    align-items: center;
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__icon{
        @include size(50px);
        fill: $dusty-gray;
        margin-right: 20px;
    }
    &__descr{
        font-size: 12px;
        color: $mid-gray;
    }
}
.s-light-bg{
    background-color: $parcelain;
}

.text{
    line-height: 1.79;
}

.about{
    display: flex;
    & > * {
        margin-right: 30px;
        &:last-child{margin-right: 0;}
    }
    &__body{
        flex: 1;
        .tab{
            & > * {
                margin: 15px 0;
                &:first-child{margin-top: 0;}
                &:last-child {margin-bottom: 0;}
            }
        }
    }
    &-navigation{
        flex: 0 0 255px;
        width: 255px;
        &__item{
            height: 50px;
            line-height: 48px;
            padding-left: 10px;
            border-bottom: 2px solid $alto;
            &:last-child {
                margin-right: 0;
            }
            &.tabs-navigation__item--active{
                border-bottom-color: $blaze-orange;

            }
        }
    }
}