.header {
    background-color: $athens-gray;
    &__nav {
        &.header__nav {
            &--right {
                margin-left: auto;
            }
        }
    }
    &__top {
        align-items: center;
        display: flex;
        padding: 10px 0;
    }
    &__main {
        padding: 25px 0;
    }
}