.brand-info
    .brand-info__tablet
        .brand__logo
            img(src=`static/images/content/brands/puky.jpg` alt="логотип бренда").brand__img
    .brand__description
        p.text Вот уже более 60 лет Puky является одним из лидирующих Европейских производителей, специализируясь на создании транспорта для детей.Философия бизнеса Puky заключается в приверженности безопасности, качеству, дизайну и эргономики своих разработок для создания идеального транспорта для детей любого возраста.
        p.text Философия бизнеса Puky заключается в приверженности безопасности, качеству, дизайну и эргономики своих разработок для создания идеального транспорта для детей любого возраста.
        p.text Как следствие бренд Puky приобрел известность своими инновационными разработками в сотрудничестве с врачами-педиатрами и физиотерапевтами, дизайном и качеством в соответствии с высокими немецкими стандартами TUV, являясь абсолютным эталоном в данном сегменте рынка.
    .brand__certificates
        span.brand__certificates-label Сертификаты соответствия
        .brand__certificate
            img(src="https://via.placeholder.com/210x290", alt="Сертификат").brand__certificate-img