.main-nav {
    &__list {
        align-items: center;
        display: flex;
        position: relative;
    }
    &__item {       
        margin-right: 40px;
        &:last-child {
            margin-right: 0; 
        }
        &:hover {
            .main-nav{
                &__link {
                    border-bottom-color: $blaze-orange;
                }
                &__dropdown-wrapper { display: block; }
            }
        }
    }
    &__link {
        align-items: center;
        border-bottom: 2px solid transparent;
        color: $tundora;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.88;
        padding: 15px 0;
    }
    &__dropdown {
        background-color: $white;
        padding-top: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05); 
        display: inline-flex;
        left: 0;
        padding-top: 10px;
        &-wrapper{
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 5;
        }
    }
    &__icon{
        @include size(12px);
        fill: $tundora;
        margin-left: 10px;
    }
}

