.product-prev
    .product-prev__header
        .js-product-prev__slider
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev.jpg' alt="Изображение товара" data-color="#ff5ec9").product-prev__img
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev.jpg' alt="Изображение товара" data-color="7ed321").product-prev__img
            .product-prev__img-wrapper
                img(src='static/images/content/products/product-1/prev.jpg' alt="Изображение товара" data-color="#f5a623").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title Беговелы Puky Pukylino
            span.product-prev__country Германия
        .product-prev__price
            span.product-prev__price-current 3 990 руб
            span.product-prev__price-old 3 990 руб
        .product-prev__colors

    .product-prev__footer
        button.btn В корзину