.product-prev
    .product-prev__header
        .js-product-prev__slider
            img(src='static/images/content/products/product-2/prev.jpg' alt="Изображение товара" data-color="#000000").product-prev__img
            img(src='static/images/content/products/product-2/prev.jpg' alt="Изображение товара" data-color="#ffffff").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title Беговелы Puky LR Ride Флюминиевый с тормозомБ AIr
            span.product-prev__country Германия
        .product-prev__price
            span.product-prev__price-current 17 990 руб
        .product-prev__colors

    .product-prev__footer
        button.btn В корзину