mixin footerNavLink(link,text)
    li.footer-nav__item
        a(href=link).footer-nav__link=text
footer.footer
    .footer__main
        .container
            .footer__navigation
                .footer__item
                    ul.footer-nav
                        +footerNavLink('','Самокаты')
                        +footerNavLink('','Беговелы')
                        +footerNavLink('','Велосипеды')
                        +footerNavLink('','Скейтборды')
                        +footerNavLink('','Роликовые коньки')
                        +footerNavLink('','Каталки')
                        +footerNavLink('','Батуты')
                        +footerNavLink('','Детский спорт и отдых')
                        +footerNavLink('','Аксессуары и запчасти')
                .footer__item
                    ul.footer-nav
                        +footerNavLink('','О компании')
                        +footerNavLink('','Доставка')
                        +footerNavLink('','Оплата')
                        +footerNavLink('','Поставщики')
                        +footerNavLink('','Новости')
                        +footerNavLink('','Отзывы')
                .footer__item
                    ul.footer-nav
                        +footerNavLink('','Контакты')
                        +footerNavLink('','Вопросы и ответы')
                        +footerNavLink('','Карта сайта')
                    span.footer__address Москва, проспект Андропова, д. 11, к. 2,павильон № 1/2
            .footer__contacts
                .footer__phones
                    a(href="tel:74951203034").footer__phone +7 (495) 120-30-34
                    span.footer__text Звонок бесплатный
                    span.footer__text +7 (495) 120-30-34
                a(href="mailto:salebaby-toys.ru").footer__mail
                salebaby-toys.ru
    .footer__socials
        .container
            ul.socials
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/instagram.svg", alt="иконка Instagram").socials__icon
                        span.socials__name Instagram
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/facebook.svg", alt="иконка Facebook").socials__icon
                        span.socials__name Facebook
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/ok.svg", alt="иконка Одноклассники").socials__icon
                        span.socials__name Одноклассники
                li.socials__item
                    a(href="").socials__link
                        img(src="static/images/general/socials/vk.svg", alt="иконка Вконтакте").socials__icon
                        span.socials__name Вконтакте
            .yandex-market
                img(src="static/images/general/yandex.svg", alt="иконка яндекс маркета").socials__icon-yandex
                a(href="").btn.btn--small.btn--transparent-gray.btn--inline Оставить отзыв
    .footer__bottom
        .container
            span.copyright © 2010-2019 «Baby-Toys». Все права защищены. Информация сайта защищена законом об авторских правах.
            a(href="").footer__personal-data Политика обработки персональных данных
